<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.goodjobs.applyjobs"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".activity.ApplyJobsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.JobNewsDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.jobSearch.JobSearchNameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.jobSearch.JobSearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HeaderDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.jobSearch.JobDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.jobSearch.JobCompanyDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.jobSearch.JobSimilarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
